/*
Theme Name: Wordpress Particle Network Theme
Theme URI: https://gitlab.com/kosmynin/wp-net-theme
Author: Boris Kosmynin
Author URI: https://kosmynin.de/
Description:
Version: 1.01
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: particles, bootstrap, responsive
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Poppins);

@keyframes pulse {

  0%,
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0
  }

  50% {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    top: -2rem
  }
}

@-webkit-keyframes pulse {

    0%,
    to {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: .4;
      top: 0
    }
  
    50% {
      -ms-filter: none;
      -webkit-filter: none;
      filter: none;
      opacity: 1;
      top: -2rem
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
  margin-bottom: 10rem;
}

section {
  padding-top: 3.5rem;
  margin-top: -3.5rem;
}

#particles-js {
  background: #1a222c;
  display: block;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.content {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50vh;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.content .site-title {
  display: block;
  line-height: 1;
}

.content .site-description {
  display: block;
  line-height: 1;
  margin: 0.5rem 0 0.2rem;
}

.navbar-dark,
.btn-dark {
  background-color: #1a222c;
}

.down {
  color: #fff;
  position: absolute;
  top: 100vh;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.3rem
}

.down .icon {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  fill: #fff;
  -webkit-animation: pulse 1.3s infinite;
  animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover,
a:active,
a:hover,
a {
  outline: none;
  text-decoration: none;
  color: #4b5664
}

.user {
  margin: 1rem auto;
  font-size: 1.3rem
}

.user p {
  margin-left: 6rem;
  margin-right: 6rem;
}

.user i {
  font-size: 3rem
}

.comment-form textarea {
  width: 90%;
}

.card-thumb img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem
}

.card-body p {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.single-thumb img {
  width: 90%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.single-post {
  padding: 0 7% 3rem 10%;
  text-align: justify;
  font-size: 1.3rem
}

.sidebar .container {
  padding-bottom: 3rem;
  text-align: justify;
  font-size: 1rem
}

.footer {
  background: #1a222c;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .content .site-title {
    font-size: 4rem;
  }

  .content .site-description {
    font-size: 2rem;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .content .site-title {
    font-size: 5rem;
  }

  .content .site-description {
    font-size: 2rem;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .content .site-title {
    font-size: 6rem;
  }

  .content .site-description {
    font-size: 3rem;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .content .site-title {
    font-size: 9rem;
  }

  .content .site-description {
    font-size: 5rem;
  }
}